    <div class="white-background borders">
        <div class="logos">
            <img id="uni-logo" src="{{ site.baseurl }}/assets/img/uni_logo.svg" alt="Logo Universität Würzburg">
            <span class="space"></span>
            <img id="dmir-logo" src="{{ site.baseurl }}/assets/img/LSX.svg" alt="Logo Lehrstuhl X — Data Science">
            <span class="space"></span>
            <img id="caidas-logo" src="{{ site.baseurl }}/assets/img/CAIDAS_quer.svg" alt="Logo CAIDAS">
            <span class="space"></span>
            <img id="geo-logo" src="{{ site.baseurl }}/assets/img/geografie_logo.svg" alt="Logo Physische Geographie">
            <span class="space"></span>
            <img id="fernerkundung-logo" src="{{ site.baseurl }}/assets/img/EORhub_logo_master_full_noText.svg" alt="Logo Physische Geographie">
            <img id="fernerkundung-text" src="{{ site.baseurl }}/assets/img/EOresearch_black.svg" alt="Logo Physische Geographie">
            <span class="space"></span>
            <img id="efre-logo" src="{{ site.baseurl }}/assets/img/efre-foerderhinweis-horizontal.svg" alt="EFRE Förderhinweis">
        </div>
    </div>

    <!-- <div class="contact-header">
        Kontakt:
    </div>
    <div class="contact">
        Julius-Maximilians-Universität Würzburg<br>
        Institut für Geographie und Geologie<br>
        Am Hubland, D-97074 Würzburg<br>
        Telefon: +49 931 31-86288<br>
        Email:&nbsp<a href="mailto:geographie-efre@uni-wuerzburg.de">geographie-efre@uni-wuerzburg.de</a>
    </div> -->

    <div class="white-background">
        <div class="container">
            <div class="footer">

                <a href="https://www.uni-wuerzburg.de/sonstiges/impressum/">Impressum</a> |
                <a href="https://www.uni-wuerzburg.de/sonstiges/datenschutz/">Datenschutz</a>
            </div>
        </div>
    </div>

</body>

</html>